.form__button {
  border: none;
  color: #fff;
  background-color: #000;
  font-family: Inter, sans-serif;
  font-weight: normal;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 36px;
}

.form__button:hover {
  opacity: 0.8;
  transition: opacity .2s;
}

@media screen and (max-width: 887px) {
  .form__button {
    margin-top: 22px;
    width: 238px;
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (min-width: 888px) {
  .form__button {
    margin-top: 26px;
    padding-top: 2px;
    width: 358px;
    min-height: 50px;
    font-size: 18px;
    line-height: 22px;
  }
}

