.profile__text {
  display: grid;
  grid-template-areas:
    "profile__title profile__edit-button"
    "profile__subtitle profile__subtitle";
}

@media screen and (max-width: 1279px) {
  .profile__text {
    margin: 0;
    grid-template-columns: 1fr;
    column-gap: 10px;
    row-gap: 2px;
  }
}

@media screen and (min-width: 1280px) {
  .profile__text {
    margin-left: 30px;
    margin-bottom: 4px;
    grid-template-columns: 1fr 24px;
    grid-template-rows: 39px 18px;
    column-gap: 18px;
    row-gap: 16px;
    align-items: baseline;
    max-width: 100%;
  }
}