.page {
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background-color: #000;
  height: 100%;
}

@media screen and (max-width: 320px) {
  .page {
    max-width: 320px;
  }
}

@media screen and (min-width: 881px) {
  .page {
    max-width: 880px;
  }
}