.header {
  box-sizing: border-box;
  border-bottom: 1px solid #545454;
}

@media screen and (min-width: 320px) {
  .header {
    max-width: 320px;
    min-height: 84px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    max-width: 880px;
    min-height: 74px;
  }

}