.header {
  box-sizing: border-box;
  border-bottom: 1px solid #545454;
  min-height: 56px;
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 100%;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .header {
    min-width: 320px;
  }
}

@media screen and (min-width: 880px) {
  .header {
    max-width: 880px;
    min-height: 74px;
  }

}