.profile__title {
  margin-block-start: 0;
  margin-block-end: 0;
  color: #fff;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 42px;
  margin: 0;
  /*border: 1px dotted aqua;*/
  box-sizing: border-box;
  grid-area: profile__title;
}