.profile__title {
  margin-block-start: 0;
  margin-block-end: 0;
  color: #fff;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 27px;
  margin: 0;
  box-sizing: border-box;
  grid-area: profile__title;
}

@media screen and (max-width: 1279px) {
  .profile__title {
    margin-top: 27px;
    margin-left: 27px;
  }
}

@media screen and (min-width: 1280px) {
  .profile__title {
    font-size: 42px;
  }
}