.elements {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  display: grid;
  padding: 0;
  row-gap: 20px;
  width: 100%;
  column-gap: 17px;
  justify-content: center;
  margin: 0 auto;
}

@media screen and (max-width: 320px) {
  .elements {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 321px) and (max-width: 1177px) {
  .elements {
    grid-template-columns: repeat(auto-fit, 282px);
  }
}

@media screen and (min-width: 1178px) {
  .elements {
    grid-template-columns:  repeat(3, 1fr);
  }
}